/* 
color palette 
https://coolors.co/palette/22223b-4a4e69-9a8c98-c9ada7-f2e9e4 
*/
:root {
  --body-bg: #9a8c98;
  /* note-bg should be in HSL */
  --note-bg: hsl(11, 24%, 72%);
  --note-shadow-color: #4a4e69;

  --document-text: #4a4e69;
  --textarea-text: #22223b;

  --btn-bg: #c9ada7;
  --btn-bg-active: #4a4e69;
  --btn-bg-hover: #dfd2cb;
  --btn-close-bg-hover: var(--note-bg);

  --shadow: 0px 3px 6px -1px var(--note-shadow-color);

  --note-height: 10em;
  --note-active-height: 18em;

  --breakpoint-phone: 550px;
}