@import './normalize.css';
@import './base.css';

body {
    font-family: sans-serif;
    background-color: var(--body-bg);
}

body, .note, .btn {
    color: var(--document-text);
}

textarea {
    color: var(--textarea-text);
}

.hidden {
    opacity: 0;
}

.btn {
    border: none;
    padding: 0.5em 0.5em;
    background-color: var(--btn-bg);
    cursor: pointer;
}
.btn.note-delete {
    background: none;
}
.btn.note-add {
    font-size: 1.2em;
    box-shadow: var(--shadow);
}
.btn:hover {
    background-color: var(--btn-bg-hover);
}

.btn:active {
    background-color: var(--btn-bg-active);
    color: var(--btn-bg);
}

input.note-search {
    width: 10em;
    padding: 0 0.5em;
    
    border: none;
    outline: none;
    background-color: var(--btn-bg-active);
    color: var(--btn-bg);
}